SOA_architecture/Client/Connected Services/WCFService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/WcfService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary" />
  <xs:element name="GetCats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClassLibrary" minOccurs="0" name="GetCatsResult" nillable="true" type="q1:ArrayOfCat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClassLibrary" minOccurs="0" name="phone" nillable="true" type="q2:Cat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClassLibrary" minOccurs="0" name="phone" nillable="true" type="q3:Cat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdCatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClassLibrary" minOccurs="0" name="phone" nillable="true" type="q4:Cat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelCatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DelCatResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>