SOA_architecture/Client/Connected Services/WCFService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/WcfService/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/WcfService/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/WcfService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClassLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetCats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCats" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCat_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCat" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCatResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdCat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdCat" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdCatResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DelCat_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCat" />
  </wsdl:message>
  <wsdl:message name="IService1_DelCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCatResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetCats">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCats" message="tns:IService1_GetCats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCatsResponse" message="tns:IService1_GetCats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCat" message="tns:IService1_AddCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCatResponse" message="tns:IService1_AddCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdCat" message="tns:IService1_UpdCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdCatResponse" message="tns:IService1_UpdCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DelCat" message="tns:IService1_DelCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DelCatResponse" message="tns:IService1_DelCat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCats">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCat">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdCat">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCat">
      <soap:operation soapAction="http://tempuri.org/IService1/DelCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/WcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>