SOA_architecture/Client/Connected Services/AsmxService/PhoneService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPhones">
        <s:complexType />
      </s:element>
      <s:element name="GetPhonesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhonesResult" type="tns:ArrayOfPhone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPhone">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Phone" nillable="true" type="tns:Phone" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Phone">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Phone_number" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="tns:Phone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="tns:Phone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdPhoneResponse">
        <s:complexType />
      </s:element>
      <s:element name="DelPhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="tns:Phone" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelPhoneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelPhoneResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPhonesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhones" />
  </wsdl:message>
  <wsdl:message name="GetPhonesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhonesResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhone" />
  </wsdl:message>
  <wsdl:message name="AddPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="UpdPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:UpdPhone" />
  </wsdl:message>
  <wsdl:message name="UpdPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:UpdPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="DelPhoneSoapIn">
    <wsdl:part name="parameters" element="tns:DelPhone" />
  </wsdl:message>
  <wsdl:message name="DelPhoneSoapOut">
    <wsdl:part name="parameters" element="tns:DelPhoneResponse" />
  </wsdl:message>
  <wsdl:portType name="PhoneServiceSoap">
    <wsdl:operation name="GetPhones">
      <wsdl:input message="tns:GetPhonesSoapIn" />
      <wsdl:output message="tns:GetPhonesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPhone">
      <wsdl:input message="tns:AddPhoneSoapIn" />
      <wsdl:output message="tns:AddPhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdPhone">
      <wsdl:input message="tns:UpdPhoneSoapIn" />
      <wsdl:output message="tns:UpdPhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelPhone">
      <wsdl:input message="tns:DelPhoneSoapIn" />
      <wsdl:output message="tns:DelPhoneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PhoneServiceSoap" type="tns:PhoneServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhones">
      <soap:operation soapAction="http://tempuri.org/GetPhones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhone">
      <soap:operation soapAction="http://tempuri.org/AddPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdPhone">
      <soap:operation soapAction="http://tempuri.org/UpdPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelPhone">
      <soap:operation soapAction="http://tempuri.org/DelPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PhoneServiceSoap12" type="tns:PhoneServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhones">
      <soap12:operation soapAction="http://tempuri.org/GetPhones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhone">
      <soap12:operation soapAction="http://tempuri.org/AddPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdPhone">
      <soap12:operation soapAction="http://tempuri.org/UpdPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelPhone">
      <soap12:operation soapAction="http://tempuri.org/DelPhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhoneService">
    <wsdl:port name="PhoneServiceSoap" binding="tns:PhoneServiceSoap">
      <soap:address location="http://localhost:2710/PhoneService.asmx" />
    </wsdl:port>
    <wsdl:port name="PhoneServiceSoap12" binding="tns:PhoneServiceSoap12">
      <soap12:address location="http://localhost:2710/PhoneService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>